.homePageWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  color:#fff;
  height: 100vh;
}

.formWrapper{
  background: #282a36;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}

footer{
  position: fixed;
  bottom: 0;
}

footer a {
  color : #e85b2e;
  text-decoration: none;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.mainLabel {
  margin-bottom: 10px;
  margin-top: 0;
}

.homePageLogo {
  height: 90px;
}

.inputBox {
  padding: 8px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #eee;
  font-size: 13px;
  font-weight: bold;
}

.btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}  

.joinBtn {
  background:#e85b2e ;
}

.joinBtn:hover {
  background: #bd2c04;
}

.createInfo {
  margin : 0 auto;
  margin-top: 20px;
}

.createNewBtn  {
  color : #e85b2e;
  text-decoration: none;
  border-bottom : 1px solid #e85b2e;
  transition: all 0.2s ease-in-out;
}

.createNewBtn:hover, footer a:hover{
  color :#bd2c04;
  border-color: #bd2c04;
}