:root{
  --background-color:#1c1e29;
  --text-color:#fff;
  --input-output-color : #282a36;
}

.homePageWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  color:#fff;
  height: 100vh;
}

.formWrapper{
  background: #282a36;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}

footer{
  position: fixed;
  bottom: 0;
}

footer a {
  color : #e85b2e;
  text-decoration: none;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.mainLabel {
  margin-bottom: 10px;
  margin-top: 0;
}

.homePageLogo {
  height: 90px;
}

.inputBox {
  padding: 8px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #eee;
  font-size: 13px;
  font-weight: bold;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}  

.joinBtn,.runBtn,.clearBtn {
  background:#e85b2e ;
}

.joinBtn:hover, .leaveBtn:hover, .runBtn:hover, .clearBtn:hover{
  background: #bd2c04;
}

.createInfo {
  margin : 0 auto;
  margin-top: 20px;
}

.createNewBtn  {
  color : #e85b2e;
  text-decoration: none;
  border-bottom : 1px solid #e85b2e;
  transition: all 0.2s ease-in-out;
}

.createNewBtn:hover, footer a:hover{
  color :#bd2c04;
  border-color: #bd2c04;
}

.mainWrap {
  display: grid;
  grid-template-columns: 68vw 1fr;
  height: 100vh;
  overflow:hidden;
}

.aside {
  max-width:11.2vw;
  min-width: 5vw;
  padding: 16px;
  padding-top: 0px;
  background: var(--background-color);
  color:var(--text-color);
  display: flex;
  flex-direction: column;
}

@media (max-width: 900px) {
  .aside {
    display: none;
  }
}

.asideInner {
  flex:1;
}

.connected {
  display: flex;
  justify-content: center;
  align-items: center;
}

.userName {
  font-size: 12px;
  margin-top: 7px;
}

.clientsList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap:18px;
  overflow-y: auto;
  max-height: 60vh;
}

.clientsList::-webkit-scrollbar {
  width: 5px;
  height: 50%;
}

.clientsList::-webkit-scrollbar-track {
  background: transparent;
}

.clientsList::-webkit-scrollbar-thumb {
  background: rgba(100,100,100,0.3);
  border-radius: 4px;
}

.client {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}

.leaveBtn {
  margin-top: 15px;
  background: #e85b2e;
  color: var(--text-color);
}

.asideEditorWrap{
  display: flex;
  width: 68vw;
}

.editorWrap{
  overflow: auto;
  flex:1;
}

.CodeMirror {
  min-height: 91vh;
  line-height: 1.6;
  scrollbar-width: thin !important;
  scrollbar-color: rgba(100, 100, 100, 0.3) transparent;
}

.settings-bar {
  display: flex;
  align-items: center;
  height: 9vh;
  min-height: 9vh;
  width: 100%;
  color:var(--text-color);
  background-color: var(--background-color);
  border-bottom: 1px solid var(--text-color);
}

.logo {
  width: 20%;
}

.logoImage {
  height: 35px;
  width: 58px;
  margin-top: 6%;
  margin-left: 22%;
  margin-bottom: 4%;
  object-fit: contain;
}

.selectOptions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex:1;
}

.languageSelect,.themeSelect,.fontSizeSelect {
  display: flex;
  align-items: center;
  width: 30%;
}

.fontSizeLabel {
  font-size: 0.8rem;
  margin-right: 10px;
}

.inputOutputWrap {
  border-left: 1px solid var(--text-color);
  flex:1;
}

.inputWrap, .outputWrap{
  height: 50vh;
  border-bottom: 1px solid var(--text-color);
  display: flex;
  flex-direction: column;
}



.inputHeading, .outputHeading {
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18%;
  background-color: var(--background-color);
  border-left: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
}

.inputConsole, .outputConsole {
  height: 84%;
  width: 100%;
  background-color: var(--input-output-color);
  color: var(--text-color);
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 40%;
  height: 40%;
}

.code-input,.code-output{
  width: 100%;
  height: 100%;
  resize: none;
  background-color:var(--input-output-color);
  color: var(--text-color);
  padding: 5px;
}

.code-input:focus,.code-output:focus{
  outline: none;
}

.runBtn {
  position: absolute;
  bottom: 15px;
  right: 37vw;
  width: 70px;
  color : var(--text-color)
}

.clearBtn {
  position: absolute;
  bottom: 15px;
  right: 1.5vw;
  width: 70px;
  height: 30px;
  color: var(--text-color);
  text-align : center;
}

input[type="range"]{
  width: 60%;
}

.optionsContainer{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}